__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

.venv/
env/
venv/

.ipynb_checkpoints/

models/*.pt
models/*.bin

data/*.csv
data/*.jsonl
data/archive*

*.log
*.db

financial_pragmatic_ai/models/*.pt
financial_pragmatic_ai/models/*.bin
financial_pragmatic_ai/data/*.csv
financial_pragmatic_ai/data/*.jsonl
financial_pragmatic_ai/data/archive*
financial_pragmatic_ai/data/pragmatic_training_dataset/
financial_pragmatic_ai/data/FinancialPhraseBank-v1.0/
financial_pragmatic_ai/data/FinancialPhraseBank.zip
financial_pragmatic_ai/data/__MACOSX/
